mixin b-info
    .b-info(class=attributes.class, id=attributes.id)
        .b-info__mail: a(href='mailto:flexis@flexis.ru') flexis@flexis.ru
        .b-info__phone
            a(href='tel:+74959894454') +7 (495) 989-44-54
            span  •  
            a(href='tel:+74955160968') +7 (495) 516-09-68
        
        .b-info__address
            p 141070 Московская&nbsp;обл., г.&nbsp;Королев ул. Калинина, д.&nbsp;6Б, офис&nbsp;32
            p 129164&nbsp;Москва, Зубарев пер.&nbsp;15, стр.&nbsp;1 Бизнес-центр &laquo;Чайка Плаза&raquo;, офис&nbsp;541
        
        
        
                