.b-info {
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100px;
  text-align: center;
  color #fff;
  &__mail,
  &__phone {
    font-weight: bold;
    font-size: 15px;
  }
  &__address {
    font-size: 13px;
    line-height: 17px;
  }
  &__phone {
    margin: 8px 0 7px;
    &>span {
      margin: 0 2px 0 4px;
    }
  }
  & a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}