.b-info {
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100px;
  text-align: center;
  color: #fff;
}
.b-info__mail,
.b-info__phone {
  font-weight: bold;
  font-size: 15px;
}
.b-info__address {
  font-size: 13px;
  line-height: 17px;
}
.b-info__phone {
  margin: 8px 0 7px;
}
.b-info__phone>span {
  margin: 0 2px 0 4px;
}
.b-info a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
