$footerHeight = 315px;
html {
  min-height: 100%;
  height: 1px;
  min-width: 900px;
  
}
.b-page {
  min-height: 100%;
  background: black url(b-page.jpg) no-repeat 50% top;
  box-sizing: border-box;
  position: relative;
  &__body {
    min-height 100%;
    position: relative
    padding-bottom $footerHeight+147px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 149px;
  }
  
  &__footer {
    position: absolute;
    bottom: 0;
    height: $footerHeight;
    left: 0;
    right: 0;
  }
    
  &__main {
    row();
  }
  &__logo {
    text-align: center;
  }
  &__about {
    width: 470px;
    margin: 36px auto 0;
    text-align: center
  }
  &__child-list {
    overflow: hidden;
    text-align: center;
    & h2 {
      font-weight: bold;
      font-size: 35px;
      line-height: 1.4;
      margin-bottom: 1px;
      padding-top: 70px;
      color #fff;
    }
  }
  &__child {
    float: left;
    width: 300px;
    &:first-child {
      padding-left: 45px;
      width: @width - @padding-left;
    }
    &:last-child {
      padding-left: 32px;
      width: 250px;
    }
  }
  &__counters-h {
    margin-top: 119px;
    text-align: center;
    color: #fff;
    font-size: 27px;
    margin-bottom: 67px;
  }
  &__counters {
    margin-left: 4px;
  }
}