.b-counters {
  overflow: hidden;
  width: 683px;
  margin: auto;
  
  &__item {
    width: 174px;
    height: @width;
    float: left;
    margin-left: 80px;
    position: relative
    &:first-child {
      margin-left: 0;
    }
    /*&:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      background: url(b-counters__item_after.png) no-repeat;
    }*/
    & input {
      position: relative;
      top: -31px
    }
  }
  &__text {
    position: absolute;
    text-align: center
    top: 95px
    left: 0
    right: 0
    font-size: 27px;
    line-height: 1.4;
    text-transform: lowercase;
    color #fff;
  }
}