a {
  color: #037bd7;
/*border-bottom 1px solid $baseLinkColor;*/
/*text-decoration: none*/
/*transition: border-bottom-color ease-in-out 0.3s;*/
}
a:hover {
  border-bottom-color: transparent;
  text-decoration: none;
}
.b-link {
  color: #037bd7;
  -webkit-transition: border-bottom-color ease-in-out 0.3s;
  -moz-transition: border-bottom-color ease-in-out 0.3s;
  -o-transition: border-bottom-color ease-in-out 0.3s;
  -ms-transition: border-bottom-color ease-in-out 0.3s;
  transition: border-bottom-color ease-in-out 0.3s;
}
.b-link_type_pseudo {
  color: #037bd7;
  text-decoration: none;
  position: relative;
  border-bottom: 1px dashed;
}
