$baseLinkColor = #037bd7;

a {
  color: $baseLinkColor;
  /*border-bottom 1px solid $baseLinkColor;*/
  /*text-decoration: none*/
  /*transition: border-bottom-color ease-in-out 0.3s;*/
}
a:hover {
  border-bottom-color transparent
  text-decoration: none
}

.b-link {
  color: $baseLinkColor;
  transition: border-bottom-color ease-in-out 0.3s;
  &_type_pseudo {
    color: $baseLinkColor;
    text-decoration: none
    position: relative;
    border-bottom 1px dashed;
  }
}