!!!
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      //- CHECKLIST: Remove if activated in .htaccess
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

      //- CHECKLIST: Test on CMS Must be filled on all pages
      block head.title
        title Flexis

      //- CHECKLIST: Test on CMS SEO stuff, need to be on every indexing page
      meta(name="keywords",    content="{FIXME}")
      meta(name="description", content="{FIXME}")
      meta(name="viewport",    content="width=device-width")

      //- CHECKLIST: Test on CMS Canonical url for a page to index in search engines, need to be on every indexing page
      link(rel="canonical", href="{FIXME}")

      block head.css
          link(href='http://fonts.googleapis.com/css?family=Open+Sans:800', rel='stylesheet', type='text/css')
          link(href='http://fonts.googleapis.com/css?family=Arimo:400,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
          link(rel="stylesheet", href="publish/style.css")

        //if lt IE 9
          link(rel="stylesheet", href="publish/style.ie.css")
      block head.js
        //if lt IE 9
          script(src="lib/html5shiv/html5shiv.js")

    block body
      body.b-page
        block body.header
        block body.content
          .b-content
            p somecontent
        block body.footer
          .b-footer
            p footer

        block body.js
          if isDevelopment
            script(src="http://localhost:35729/livereload.js")

          script(src="http://yandex.st/jquery/1.9.1/jquery.min.js")  
          script window.jQuery || document.write("<script src=\"lib/jquery/jquery.min.js\"><\/script>")
          script(src="publish/script.js")